syntax: glob
**/.vs
**/packages/*
/nvelocity.log.*
*.log
/build/*
*.cs~
**/obj/*
**/bin/*
*.mk~
/src/Web/CustomerSite/bin/*
/src/Web/EmployeeSite/bin/*
/src/Web/EmployeeSite/obj/*
/src/user.config
/src/user.mk
/src/Web/release/*
/src/Web/tmp/*
*.user
/src/release/*
/*.orig
/*.orig
/release/*
/src/ccnet-nunit-results.xml
/*.suo
/src/Web/CustomerSite/SpotlessCity.Web.CustomerSite.Publish.xml
/src/_ReSharper.SpotlessCity/*
/src/Web/MerchantSite/bin/*
/bin/NHProf/AutoUpdate/*
/src/ccnet-nunit-results-db.xml
/src/connectionStrings.config
/src/Web/EmployeeSite/connectionStrings.config
/src/Web/MerchantSite/connectionStrings.config
/src/Web/Root/bin/*
/src/Web/MerchantSite/SpotlessCity.Web.MerchantSite.Publish.xml
/src/user.config.hold
/tmp/*
/src/Web/Root/SpotlessCity.Web.Root.Publish.xml
/src/csx/*
/src/Profiles/*
/src/bin/
/src/WindowsAzure.*/csx/*
/src/WindowsAzure.*/bin/*
/src/WindowsAzure.*/obj/*
/src/obj/*
/src/Web/CustomerSite/obj/*
/src/Web/MerchantSite/obj/*
/src/WindowsAzure/*/obj/*
*.suo
/src/**.user
/src/sql/**.log
/src/sql/**.sql~
/src/**.cs~
/src/**.mk~
/src/**.pdb
/bin/DTG/nvelocity.log.*
/bin/DTG/nvelocity.log
DCMS\src\build\*
/src/Web/EmployeeSite/Scripts/datatables/unit_testing/*
/src/Web/EmployeeSite/Scripts/datatables/src/*
/src/_ReSharper.MoldingBox./*
/src/**.orig
/src/sql/dependencies - Copy.mk
/src/_NCrunch_MoldingBox./*
/config/(Example Orders)/Manual Orders/~*.xlsx
/src/PrecompiledWeb/*
/src/Service/API/Bin/*
/src/Service/API/Contract/obj/*
/src/Service/API/connectionStrings.config
*.csv.imported
*.txt.imported
*.csv.error
*.csv.log
Merchants/**/Carrier/**
/src/deploy.bat
/src/user.mk.stage
/src/publish.log
*.log
*.log.*
/src/Web/EmployeeSite/moldingbox.log.*
/docs/~$Merchant Status.xlsx
Cubby
*.ncrunchsolution
/src/order.txt
/docs/ISRP/*
Merchants
/src/Service/MBAPI/Bin/*
/src/sql/testdata
/src/Web/MerchantSite/version.aspx
/src/Web/EmployeeSite/version.aspx
/src/Web/CustomerSite/version.aspx
/src/EmployeeSite_.psess
/docs/Coverage/
/src/ccnet-*-results.xml
Database/DCMS.27.2.2013.bak
*.orig
/src/Service/API/bin/*
/src/Service/API/obj/*`
*/App_Data/XmlDocument.xml
/src/TestResults/*
/src/packages/*
/src/Spring2.DCMS.Queue.Implementor/obj/*
/src/Service/API/obj/*
/src/TestResults
Webgistix Demo/*
dhg-Skeleton-7ab6820/*

Integrations/*
/src/Service/ProcessQueue/connectionStrings.config
/src/Spring2.DCMS.Web.API/bin/*
/src/Spring2.DCMS.Web.API/obj/*
*.csproj.user
/src/.vs
/src/Spring2.DCMS.Web.API/connectionStrings.config
*.ccproj.user
/bin/NUnit/TestResult-net-3.5.xml
*.cs~
*.sql~
