[*]
end_of_line = crlf

[*.xml]
indent_style                           = space

# Code style defaults
dotnet_sort_system_directives_first    = true
csharp_preserve_single_line_blocks     = true
csharp_preserve_single_line_statements = false
